<div class="dialog">
  <div class="header">
    <div class="title">Chi tiết sản phẩm</div>
    <button mat-dialog-close mat-stroked-button color="warn" (click)="reset()">Thoát</button>
  </div>
  <mat-dialog-content>
    <form #productDetailForm="ngForm" class="detailForm" fxLayout="column" fxLayoutGap="24px">
      <!-- Form Shop Info -->
      <div class="formShop">
        <h1>Thông Tin Cửa Hàng</h1>
        <div fxLayout="row wrap" fxLayoutGap="grid">
          <div fxFlex="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.lt-sm="100%" class="fieldWrapper">
            <label class="label" for="id">Cửa Hàng</label>
            <ng-select
              class="custom"
              [items]="shopSource"
              bindLabel="label"
              bindValue="id"
              [appendTo]="'body'"
              placeholder="Chọn cửa hàng"
              [(ngModel)]="selectedShop"
              (change)="shopChange($event)"
              name="shopSelect"
            >
            </ng-select>
          </div>
          <div fxFlex="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.lt-sm="100%" class="fieldWrapper">
            <label class="label" for="id">Địa Chỉ</label>
            <div class="inputWrapper">
              <input
                class="input isDisabled"
                type="text"
                id="id"
                [value]="this.shop ? this.shop.address : ''"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Form Meta data -->
      <div class="formData">
        <h1>Thông Tin Sản Phẩm</h1>
        <div fxLayout="row wrap" fxLayoutGap="grid">
          <div fxFlex="33%" fxFlex.lg="33%" fxFlex.sm="100%" fxFlex.lt-sm="100%" class="fieldWrapper">
            <label class="label" for="id">ID</label>
            <div class="inputWrapper">
              <input class="input isDisabled" type="text" id="id" [value]="this.item.id" disabled />
            </div>
          </div>
          <div fxFlex="33%" fxFlex.lg="33%" fxFlex.sm="100%" fxFlex.lt-sm="100%" class="fieldWrapper">
            <label class="label" for="id">Code</label>
            <div class="inputWrapper">
              <input class="input isDisabled" type="text" id="id" [value]="this.item.productCode" disabled />
            </div>
          </div>
          <div fxFlex="33%" fxFlex.lg="33%" fxFlex.sm="100%" fxFlex.lt-sm="100%" class="fieldWrapper">
            <label class="label" for="id">Ngày Tạo</label>
            <div class="inputWrapper">
              <input class="input isDisabled" type="text" id="id" [value]="splitTime(this.item.createdAt)" disabled />
            </div>
          </div>
        </div>
      </div>
      <!-- Form Detail -->
      <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.lt-sm="100%">
          <div class="generalForm">
            <h1>Thông Tin Chi Tiết</h1>
            <div class="fieldWrapper">
              <label class="label" for="id">Tên Sản Phẩm</label>
              <div class="inputWrapper">
                <input class="input isDisabled" type="text" id="name" [value]="this.item.name" disabled />
              </div>
            </div>
            <div class="fieldWrapper">
              <label class="label" for="id">Giá Bán</label>
              <div class="inputWrapper">
                <input class="input isDisabled" type="text" id="price" [value]="this.item.price" disabled />
              </div>
            </div>
            <div class="fieldWrapper">
              <label class="label" for="id">Tồn Kho</label>
              <div class="inputWrapper">
                <input class="input isDisabled" type="text" id="qty" [value]="this.shop ? this.shop.qty : 0" disabled />
              </div>
            </div>
            <div class="fieldWrapper">
              <label class="label" for="id">Nhãn Hàng</label>
              <div class="inputWrapper">
                <input class="input isDisabled" type="text" id="brand" [value]="this.item.brand" disabled />
              </div>
            </div>
            <div class="fieldWrapper">
              <label class="label" for="id">Danh Mục</label>
              <div class="inputWrapper">
                <input class="input isDisabled" type="text" id="category" [value]="this.item.category" disabled />
              </div>
            </div>
          </div>
          <div class="imgForm">
            <gallery gallerize [items]="this.productImages" thumbPosition="bottom"></gallery>
          </div>
        </div>
        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.sm="100%" fxFlex.lt-sm="100%">
          <div class="descriptionForm">
            <h1>Mô Tả</h1>
            <div *ngFor="let des of this.desciptions">
              <div class="fieldWrapper">
                <label class="label" for="id">{{ des.key }}</label>
                <div class="inputWrapper">
                  <textarea class="input isDisabled" type="text" id="des.key" [value]="des.value" rows="5" disabled>
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>
