<div fxFlex="grow" fxLayout="column" class="list">
  <div fxFlex="grow">
    <ag-grid-angular
      fxFill
      class="ag-theme-material"
      [rowData]="this.data"
      [columnDefs]="this.columnDefs"
      [gridOptions]="this.gridOptions"
    >
    </ag-grid-angular>
  </div>
  <div>
    <app-paginator-admin
      [total]="this.total"
      (paginatorChanged)="onPaginatorChanged()"
      [sizeOptions]="this.sizeOptions"
      [size]="this.size"
    ></app-paginator-admin>
  </div>
</div>

<ng-template #action let-row>
  <div class="btnGroup">
    <button
      mat-icon-button
      type="button"
      color="warn"
      class="small-icon-button"
      matTooltip="Xóa"
      (click)="delete(row, $event)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button type="button" color="primary" class="small-icon-button" matTooltip="Sửa">
      <mat-icon>create</mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      color="success"
      class="small-icon-button"
      matTooltip="Thông tin chi tiết"
      (click)="detailRow(row, $event)"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>
</ng-template>
