.container {
  width: auto;

  .header {
    width: 100%;
    text-align: center;
    padding: 50px 0;

    .header-text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 40px;
    }
  }

  .createBtn {
    float: right;
    margin-bottom: 8px;
    margin-right: 10px;

    button {
      height: 30px;
    }
  }

  .body {
    min-height: calc(100vh - 348px);
    margin-left: 10px;
  }
}
